.container {
  border: 1px solid red;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.navList {
  text-decoration: none;
  align-items: center;
}
